@{
    ViewData["Title"] = "Movie Tracker Home";
    ViewData["Header"] = "The Joel Hilton Film Collection";
}
<!-- Home Page-->
<br /><br />
<div class="text-center">
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
