@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
    ViewData["Header"] = ViewData["Title"];
}
<!--Displays all of Joel Hilton's podcasts-->
<br />
<br />
<div class="text-center">
    <a href="https://baconsale.com/" target="_blank">Baconsale</a>
</div>